{% extends "blog/base.html" %}

{% block content %}

   <article class="fade-in">
      <h1>Hello fellow padawan.</h1>
      <br/>
      <p>Welcome to my blog. This blog is powered by django. Because <br/>
         I know python and thus django is a natural choice to build</br>
         this. But Im going for node.js next. My Javascript is too</br>
         cui to do that now. Currently I am just exploring the different</br>
         aspects of web development. It is much harder than I thought. </br>
         Aws make yourself at home!
      </p>
      </br>
      <h4>May the force be with you.</h4>

   </article>




{% endblock %}
