{% extends "blog/base.html" %}

{% block content %}

   <article class="post fade-in">
      <h1>{{p.title}}</h1>

      <h5>{{p.published_date}}</h5>
      <p>{{ p.text|linebreaks }}</p>

      <ul class="post-author-edit">
         <li><h5 class="written-by">Written by: <a href="{%url "blog.views.profile_view" %}">{{p.author}}</a></h5></li>
         {%	if	user.is_authenticated %}
         <li><a class="btn btn-default" href="{% url "blog.views.post_edit" pk=p.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></li>
         {% endif %}
      </ul>

   </article>

{% endblock %}
