{% extends "blog/base.html" %}


{% block content %}
   <article class="post fade-in">
      <h1>New post</h1><br/>
      <form method="POST" class="post-form" onsubmit="return validateForm()">{% csrf_token %}
         <div id="post-new-title"><label>Title: </label>{{form.title}}</div>
         <div id="post-new-message"><label>Message: </label>{{form.text}}</div>
         <button type="submit" class="save btn btn-default">Save</button>
         {% if edit %}
            <a class="btn btn-default" href="{%url "blog.views.post_delete" pk=p.pk%}"><span class="glyphicon glyphicon-trash"></span></a>
         {% endif %}
      </form>
   </article>


<script >
   function validateForm()
   {
      var title = document.getElementById("post-new-title").childNodes[1].value
      var message = document.getElementById("post-new-message").childNodes[1].value
      if (title == null || title == "") {
         alert("Title must be filled out");
         document.getElementById("post-new-title").childNodes[1].focus()
         return false;
      }
      if (message == null || message == "") {
         alert("Message must be filled out");
         document.getElementById("post-new-message").childNodes[1].focus()
         return false;
       }
   }
</script>

{% endblock %}
